.reveal .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.reveal .shadowed {
  box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75); }

.reveal code {
  padding: 20px !important;
  max-height: 1500px !important; }

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  font-family: veflomasticacyrillicmedium, monospace;
  color: #000; }

.reveal .title {
  color: #4E0000; }

.reveal code span.fragment.fade-out.visible {
  display: none; }

.reveal img.small-logo {
  width: 50px;
  padding-right: 5px;
  margin: 0;
  vertical-align: middle; }

.reveal .block {
  display: inline-block;
  vertical-align: middle; }

.reveal img.block {
  margin-right: -5px; }

.reveal a {
  color: black;
  font-family: veflomasticacyrillicmedium, monospace; }
  .reveal a:hover {
    color: #4E0000; }

.about_me .container {
  position: relative;
  height: 420px;
  vertical-align: middle; }
  .about_me .container .info-picture {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
    .about_me .container .info-picture .history-pics {
      height: 350px;
      padding-top: 100px; }
