.reveal {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shadowed {
    -webkit-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
  }

  code {
    padding: 20px !important;
    max-height: 1500px !important;
  }

  code span.fragment.fade-out.visible {
    display: none;
  }

  img.small-logo {
    width: 50px;
    padding-right: 5px;
    margin: 0;
    vertical-align: middle;
  }

  .block {
    display: inline-block;
    vertical-align: middle;
  }

  img.block {
    margin-right: -5px;
  }
}

.about_grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
          "avatar avatar info1 info1"
          "avatar avatar info2 info2"
          "avatar avatar info3 info3"
          "avatar avatar info4 info4"
          "some-guy some-guy info5 info5";

  //& > div {
  //  border: 2px solid rgb(233,171,88);
  //  border-radius: 5px;
  //  background-color: rgba(233,171,88,.5);
  //  color: #d9480f;
  //}

  & > * {
    box-sizing: border-box;
  }

  .avatar {
    grid-area: avatar;
  }

  .history-1 {
    padding-top: 30px;
    grid-area: info1;
  }
  .history-2 {
    grid-area: info2;
  }
  .history-3 {
    grid-area: info3;
  }
  .history-4 {
    grid-area: info4;
  }
  .history-5 {
    grid-area: info5;
  }
  .some-guy {
    height: 200px;
    grid-area: some-guy;
  }

}