.reveal {

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shadowed {
    -webkit-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
  }

  code {
    padding: 20px !important;
    max-height: 1500px !important;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  h1, h2,h3, h4, h5 {
    font-family: veflomasticacyrillicmedium, monospace;
    color: #000;
  }

  .title {
    color: #4E0000;
  }



  code span.fragment.fade-out.visible {
    display: none;
  }

  img.small-logo {
    width: 50px;
    padding-right: 5px;
    margin: 0;
    vertical-align: middle;
  }

  .block {
    display: inline-block;
    vertical-align: middle;
  }

  img.block {
    margin-right: -5px;
  }

  a {
    color: black;
    font-family: veflomasticacyrillicmedium, monospace;
    &:hover {
      color: #4E0000;
    }
  }
}

.about_me {
  .container {
    position:relative;
    height: 420px;
    vertical-align: middle;
    .info-picture {
      position:absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      .history-pics {
        height: 350px;
        padding-top: 100px;
      }
    }
  }
}